/*Navigation*/ 
.nav-item a {
    color: black;
    text-decoration: none;
}

.navbar {
    background-color: white;
}

.logo a {
    color: rgb(193, 124, 116);
}

.navbar {
    background-color: white;
}
.nav-item a {
    font-family: 'Merriweather';
    color: #153B50;
}

.nav-item a:hover {
    color: #CC8B86;  
}

/*Hero*/

.presentation {
    background-color: #CC8B86;
}

.about {
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    font-size: 80px;
    font-family: 'merriweather';
    font-weight: 400;
    line-height: 100px;
    color: #FFFEEB;
}

/*Case Studies*/ 
.section-width-80 {
    width: 80%;
    margin: 0 auto;
}

.project_1 {
    background-image: url("../images/Reelii.png");
    background-size: cover;
    min-height: 400px;
}

.project_2 {
    background-image: url("../images/APWF.png");
    background-size: cover;
    min-height: 400px;
}
.project_3 {
    background-image: url("../images/Navy.png");
    background-size: cover;
    min-height: 400px;
}
.project_logo {
    width: 200px;
    margin: 20px;
}
.bg-green h2 {
    font-size: 3rem;
    font-weight: 900;
    color:#FFFEEB;
    font-family: 'Merriweather';
}
.bg-green button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.bg-green .card {
    margin: 30px 0px;
    border: none;
}

.bg-green .project-text h3 {
    font-weight: 700;
}
.project-text {
    padding: 20px 20px 50px 20px;
}
.leading-text {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.5rem;
}

.project-text {
    padding: 20px 20px 50px 20px;
}

.bg-green .project-text h3 {
    font-weight: 700;
}

.leading-text {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.reelii h2 {
    font-size: 2.5rem;
    font-weight: 900;
    color: #2140C9;
    border-bottom: 1px solid #2140C9;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
.reelii .mid-blue-bg h2 {
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    margin: 40px 0px;
    
}
.reelii h3 {
    font-size: 1.6rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
    margin-top: 20px;
}
.reelii h4 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 20px;
}
.beyond-study .intro {
    padding: 30px;
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: top;
    min-height: 500px;
}
.mid-blue-bg {
    background-color: #2140C9;
    color: white;
}
.final {
    background-image: url(../images/bg-final.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    min-height: 500px;
}
/*section .beyondLogo {
    width: 200px;
    margin: 30px 0px;
}*/
.section-width-60 {
    width: 60%;
    margin: 0 auto;
}
.section-width-80 {
    width: 80%;
    margin: 0 auto;
}
section .desktop-mobile-img {
    margin-bottom: 0px;
}
.project-info {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-bottom: 40px;

}
.inline-block {
    display: inline-block;
}

section .insight {
    background-color: #E6F1FD;
    padding: 20px;
    margin: 30px 0px;
}
.section-padding {
    padding: 5% 0px;
}
.reelii img {
    width: 100%;
    margin: 30px 0px;
}
.reelii #phase-4 .card {
    border: none;
    background-color: transparent;
}
.reelii .card img {
    margin: 0px;
}


/*background colors*/

.bg-purple {
    background-color:#CC8B86;
}
.bg-green {
    background-color: #153B50;
}
.bg-light-grey {
    background-color: rgba(0, 0, 0, 0.05);
}
.bg-light-blue {
    background-color: #E6F1FD;
}

.bg-green button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
button a {
    color: #FFFEEB;
}

button {
    padding: 10px;
    font-size: 1rem;
    background-color: #429EA6;
    border: 0;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
}   