/*Navigation*/ 

.navbar {
    background-color:#F9DCDC;
    height: fit-content;
}
.nav-item a {
    text-decoration: none;
    font-family: 'Merriweather';
    color: #59656F;
}

.nav-item a:hover {
    color: #DC0073;  
}
.navbar p {
    color: #59656F;
    font-weight:500;
    font-size: 60px;
    font-family: 'montserrat';
    letter-spacing: 16px;
}

/*Hero*/

.presentation {
    height: 40vw;
    background-color: #F9DCDC;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "About-Me PhotoAboutMe";
}
.ellipse {
    max-width: 40vw;
    margin-top: 5%;
    margin-left: 5%;
}

.About-Me h1 { 
    grid-area: About-Me; 
    margin-top: 5vw;
    margin-left: 5vw;
    margin-bottom: 5%;
    text-align: center;
    font-size: 50px;
    font-family: 'merriweather';
    font-weight: 400;
    line-height: 100px;
    color: #59656F;
    line-height: 1.6;
    vertical-align: middle;
}
.btnHero {
    background-color: #DC0073;
    color: white;
    font-family: 'merriweather';
    border-radius: 8px;
    text-align: center;
    padding: 12px 32px;
    margin: 0;
    position: absolute;
    left: 25%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
      
.PhotoAboutMe { grid-area: PhotoAboutMe; }    
}

#work {
    background-color: #3D5A80;
}
.caseStudies {
    background-color: #3D5A80;
    height:fit-content;
    padding: 20px;
}

.text-center { 
    text-align: center;
    color: white;
    font-family: 'merriweather';
    font-size: 64px;
    padding: 5%;
}
.grid-container {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px 0px;
    grid-template-areas:
      "reeliiImg reeliiTxt"
      "navyImg navyTxt"
      "petImg PetTxt";
  }

#boxCenter {
    margin-left: 10%;
    margin-right: 10%;    
  }
  
.reeliiImg { 
    grid-area: reeliiImg; 
    background-image: url("../images/Reelii/reeliiImg.png");
    background-size: cover;
    min-height: 28vw;    
}
  
.reeliiTxt,  .navyTxt, .PetTxt{ 
    grid-area: reeliiTxt; 
    background-color: white;
    font-family: 'merriweather';
    font-size: 20px;
    font-style: bold;
    padding: 2%;
    width: 320px;
}

.reeliiTxt h3, .navyTxt h3, .PetTxt h3 {
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
    text-align: center;
}
.reeliiTxt p, .navyTxt p, .PetTxt p {
    font-family: 'merriweather';
    font-size: 12px;
    font-style: italic;
    margin-left: 5%;
    margin-right: 5%;
}
.leading-text {
    margin-top: 10%;
    margin-left: 7%;
    margin-right: 7%;
    font-size: 16px;
    text-align: left;
}
  
.navyImg { 
    grid-area: navyImg; 
    background-image: url("../images/navy2.png");
    background-size: cover;
    min-height: 28vw;
}
  
.navyTxt { 
    grid-area: navyTxt; 
}
  
.petImg { 
    grid-area: petImg; 
    background-image: url("../images/pet.png");
    background-size: cover;
    min-height: 28vw;
}
  
.PetTxt { 
    grid-area: PetTxt; 
}
  
.readMore {
    padding: 50px;
}
  .btnStudy {
    background-color: #DC0073;
    color: white;
    font-family: 'merriweather';
    border-radius: 8px;
    text-align: center;
    padding: 12px 32px;
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.viewCaseStudy {
    background-color: #F9DCDC;
    color: #DC0073;
    font-family: 'merriweather';
    font-size: 14px;
    border-radius: 8px;
    text-align: center;
    padding: 8px 18px;
    margin: 0;
    margin-top: 2vw;
    position: absolute;
    left: 68%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;

}

/*footer*/
    .footer {
        height: 20vw;
        background-color: #DC0073;
    }

    .getInTouch {
        color: white;
        font-family: 'merriweather';
        font-size: 50px;
        text-align: center;
        padding: 5%;
    }
    
    .navbarCopyright {
        background-color: #DC0073;
    }
    .copyright {
        text-align: left;
        margin-left: 5%;
        margin-bottom: 5%;
        color: white;
    }
    .icon {
        padding: 20px;
    }

    .iconsLinks {
        display: flex;
        justify-content: center;
        align-items: center;
    }






